.contact-details {
    padding: 0px 80px;

    .btn-wrapper {
        height: 100px;
        width: 100%;

        > *:hover {
            font-weight: 700;
            cursor: pointer;
        }
    }

    .details-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 20px;

        img {
            width: 130px;
            justify-self: flex-start;
        }

        >* {
            margin-block-end: 20px;
        }
    }
}