.list-container {
    padding: 0 auto;
}

.item-list {
    padding: 20px;
    flex-wrap: wrap;
    list-style: none;
    // padding: 0px 80px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 20px;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    .item-preview-li {
        align-self: center;
        justify-self: center;
        min-width: 350px;
        height: max-content;
    }
}

@media (max-width: 940px) {
    .item-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 460px) {
    .item-list {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}