* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: roboto-regular, sans-serif;
    line-height: 1.6;
    color: $color-blackish;
}


body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: rem(50px);
}

button,
a:hover {
    cursor: pointer;
}

ul {
    margin: 0;
}

a, button {
    outline: none;
    border: none;
    text-decoration: none;
    color: unset;
}

p {
    max-width: 48ch;
    margin: 0;
}
