@import "../../assets/styles/setup/variables";
.app-header {
    background-color: rgb(209, 209, 209);
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 16px;
    
    .header-nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 80px;
        font-size: 16px;
       
    

        .active-nav {
            font-weight: bold;
        }

        .cart-wrapper a {

            display: flex;
            justify-content: center;
            align-items: center;

            .cart-icon {
                font-size: 16px;
                margin-inline-end: 5px;
            }
        }

        .home-wrapper {
            font-size: 16px;
            display: flex;
            align-items: center;
            height: 100%;

            > * {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                border-right: 1px solid gainsboro;
                padding: 0px 10px;
            }

            > *:hover {
                background-color: #9c9c9c;
                cursor: pointer;
            }
        }
    }


    a { 
        text-decoration: none;
        color: unset;
    }
    p {
        margin: 0;
    }
}