@import "../../assets/styles/setup/variables";


.app-header {
    background-color: $clr2;
    padding: 0px 80px;
    height: 50px;

    .header-nav {
        list-style-type: none;

        > * {
            margin-inline-end: 10px;
        }

        .active-nav {
            font-weight: bold;
        }
    }

    .logo-wrapper {
        h3 {
            font-family: astro-space, sans-serif;
        }
    }
}