@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Opensans;
    src: url(../../fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: GreatVibes;
    src: url(../../fonts/GreatVibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf);
}

@font-face {
    font-family: sofia-pro-regular;
    src: url(../../fonts/Sofia-Pro-Regular/sofiapro.otf);
}

@font-face {
    font-family: sofia-pro-medium;
    src: url(../../fonts/Sofia-Pro-Medium/sofiamedium.otf);
}
@font-face {
    font-family: sofia-pro-bold;
    src: url(../../fonts/Sofia-Pro-Bold/sofiabold.otf);
}
@font-face {
    font-family: dreamwood;
    src: url(../../fonts/DreamWood/DreamwoodDemoRegular-Zj3q.ttf);
}
@font-face {
    font-family: nathanos;
    src: url(../../fonts/Nathanos/Nathanos-Yzld8.otf);
}
@font-face {
    font-family: astro-space;
    src: url(../../fonts/astro-space/AstroSpace-eZ2Bg.ttf);
}
